* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E4ECF1;
}

nav {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px white;
}

.nav-buttons {
    display: flex;
    list-style: none;
    text-align: center;
    width: 95vw;
    justify-content: space-around;
}

.nav-buttons li {
    margin: 0px 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
}

.nav-hover {
    transition: transform .5s;
}

.nav-hover:hover {
    transform: scale(1.1);
}

.nav-buttons p {
    color: white;
}

.main-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../../rescources/background.jpg);
    background-size: contain;
}

.front-container {
    background-color: #92B4F4;
    width: 100vw;
    padding: 12% 0px;
    box-shadow: 0 30px 40px;
}

.index-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 6px;
}

.heading-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    background-color: white;
    width: 80vw;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 10px;
}

.heading-text h1 {
    border-bottom: solid 2px lightgray;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    position: relative;
    width: 100vw;
    background-color: black;
    border-top: solid 2px white;
    color: white;
}

.about-me-main-container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: #E4ECF1;
    padding: 2%;
}

.about-me-section {
    margin: 30px 20px 20px 20px;
    text-align: left;
}

.about-me-section p {
    margin-top: 10px;
    font-size: 20px;
}

.hobbies {
    text-align: left;
    padding: 20px;
    margin: 0px 20px;
    font-size: 20px;
}

.resume-social {
    margin: 20px 20px 30px 20px;
    background-color: #FAF9F6;
    border-radius: 20px;
    box-shadow: 0 10px 20px;

}

.resume {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    padding-bottom: 4%;
    border-bottom: 2px lightgray solid;
}

.resume a {
    background-color: #0A369D;
    text-decoration: none;
    padding: 5px 20%;
    color: white;
    border-radius: 10px;
    border: solid 1px white;
}

.resume h3 {
    margin-bottom: 20px;
}

.social-media {
    text-align: center;
    margin: 10px;
}

.social-media h3 {
    margin-bottom: 20px;
}

.social-media-icons {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands {
    font-size: 60px;
    text-decoration: none;
    margin: 10px;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-instagram {
    color: #125688;
}

.fa-linkedin-in {
    color: #007bb5;
}

.contact-me-main {
    height: 85vh;
}

.contact-me {
    padding: 20px;
}

.contact-me p {
    font-size: 20px;
}

.fa-solid {
    font-size: 30px;
    margin-right: 20px;
}

.contact-me-list {
    display: flex;
    align-items: center;
    height: 50px;
}

.contact-me h1 {
    margin-bottom: 20px;
    text-align: center;
}

.sign-up-newsletter {
    margin: 20px 0px 30px 0px;
    background-color: #FAF9F6;
    padding: 20px;
    border-top: 2px solid #0A369D;
    border-bottom: 2px solid #0A369D;
}

.sign-up-newsletter h2 {
    border-bottom: solid 2px lightgray;
    padding-bottom: 20px;
    text-align: center;
}

.sign-up {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign-up label {
    font-size: 20px;
}

.sign-up input {
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: solid 1px #0A369D;
    padding: 0px;
    background-color: #FAF9F6;
    font-size: 18px;
}

.sign-up input:focus {
    outline: none;
}

#submit-button {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    background-color: #0A369D;
    height: 35px;
    color: white;
    font-size: 18px;
    border-radius: 10px;

}

.blog-main {
    height: auto;
    text-align: center;
}

.blog-sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blog-main h1 {
    margin-top: 15px;
    font-size: 30px;
}

.blog1 {
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: #FAF9F6;
    border-radius: 10px;
    box-shadow: 0 10px 20px;

}

.blog1 p {
    margin-top: 15px;
}

.blog-image {
    width: 100%;
    height: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog1:last-child {
    margin-bottom: 20px;
}

.blog-main a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

.blog-article-main {
    height: auto;
    padding: 2%;
}

.blog-article {
    text-align: left;
}

.blog-article-image {
    width: 80vw;
    height: 200px;
    border-radius: 10px;
    margin: 10px 0px;
}

.blog-article-h1 {
    margin-bottom: 10px;
}

.blog-article p:nth-child(4) {
    margin-bottom: 5vh;
}

@media only screen and (max-height: 800px) {
    .contact-me-main {
        height: auto;
    }
}

@media only screen and (min-width: 600px) {

    .nav-buttons {
        width: 80vw;
    }
    .nav-buttons li {
        font-size: 30px;
    }

    .index-picture {
        width: 300px;
        height: 300px;
    }

    .resume a {
        font-size: 40px;
    }

    .resume-social {
        font-size: 20px;
        margin-top: 20%;
        margin-bottom: 40px;
    }

    .social-media {
        margin: 50px 0px 20px 0px;
    }

    .social-media-icons a {
        font-size: 90px;
    }

    .blog-main h1 {
        text-align: center;
    }

    .blog-sections {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .blog1 {
        margin-bottom: 20px;
    }

    .blog-image {
        width: 100%;
        margin-bottom: 15px;
    }

    .contact-me p {
        font-size: 24px;
    }

    .contact-me h1 {
        font-size: 38px;
    }

    .fa-solid {
        margin-right: 30px;
    }

    .contact-me-main {
        height: 85vh;
    }

    .sign-up {
        width: 70vw;
        margin: auto;
    }

    .sign-up input {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }

    #submit-button {
        height: 50px;
    }

    .sign-up-newsletter h2 {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .sign-up-newsletter {
        margin-top: 100px;
    }


    .blog-article-image {
        height: auto;
    }

    .blog-article-h1 {
        font-size: 30px;
    }

    .blog-article p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1050px) {

    nav {
        height: 5vh;
    }

    .nav-buttons {
        width: 50%;
    }

    .front-container {
        display: flex;
        padding: 3% 3vw;
        width: 60vw;
        align-items: center;
        border: none;
        border-radius: 20px;
        box-shadow: 0 30px 40px;
        height: 65%;
    }

    .front-container h1 {
        font-size: 50px;
    }

    .front-container h2 {
        font-size: 38px;
    }

    .index-picture {
        height: 400px;
        width: 400px;
    }

    .main-container {
        height: 90vh;
    }

    .heading-text {
        height: 30%;
        width: 50%;
        margin: auto;
        justify-content: space-around;
    }

    .about-me-main-container {
        flex-direction: row;
        height: 90vh;
        margin: 0;
        font-size: 2em;
    }

    .resume {
        font-size: 1.5em;
    }

    .social-media h3 {
        font-size: 1.5em;
    }



    .left {
        width: 50vw;
    }

    .resume-social {
        margin: auto;
        height: auto;
        width: 40vw;
        padding: 20px 0;
    }

    .social-media {
        margin-top: 20px;
    }

    .social-media h3 {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }

    .blog-main {
        height: 90vh;
    }

    .blog-main h1 {
        margin-bottom: 0;
    }

    #blog-title {
        font-size: 2.5em;
        margin-top: 0;
        padding: 20px 0;
    }

    .blog-sections {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        width: 70vw;
    }

    .blog-image {
        margin-bottom: 10px;
    }

    .blog1 {
        margin: 20px 100px 60px 100px;
    }

    .blog-article-main {
        height: 90vh;
    }


    .blog-article-image {
        width: 50vw;
        height: auto;
    }

    .contact-me-main {
        height: 90vh;
        display: flex;
        flex-direction: row;
    }

    .contact-me {
        height: 50%;
        width: 40%;
        margin: auto;
    }

    .contact-me .fa-solid {
        font-size: 50px;
    }

    .contact-me-list {
        margin-bottom: 30px;
    }

    .contact-me h1 {
        font-size: 3.5em;
    }

    .contact-me p {
        font-size: 1.5em;
    }

    .sign-up-newsletter {
        width: 40%;
        margin: auto;
        height: auto;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 20px;
        padding: 20px 0;
        font-size: 1.5em;
    }

    .sign-up-newsletter label {
        font-size: 1em;
        margin-bottom: 5px;
    }

    .sign-up-newsletter input {
        font-size: 1em;
    }

    .sign-up {
        width: 80%;
        margin: auto;
    }

    .sign-up input {
        height: 30px;
    }


    #submit-button {
        width: 50%;
    }

    .blog1:last-child {
        margin-bottom: 10px;
    }
}

